
$maincolor1: darken(#fff, 0%);
@import  '_normalize.scss';


/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
	max-width: 100%;
	overflow-x: hidden;
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
p, small, span {
	font-family: 'Arial';
}
/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

.navbar-inverse {
	//background-color: red;
	background-color: rgba(220,0,0, 0.9);
	border:none;
	color: #fff;

	.navbar-brand {
		background-color: $maincolor1;
		color: red;
		-webkit-webkit-transition: background-color 0.5s ease;
		-moz-webkit-transition: background-color 0.5s ease;
		-ms-webkit-transition: background-color 0.5s ease;
		-o-webkit-transition: background-color 0.5s ease;
		transition: background-color 0.5s ease;
	}

	.navbar-nav {
		font-weight: bolder;
		a {
			text-align: center;
			color: #ffe6e6 !important;
			&:hover { background-color: darkred !important; color: #fff !important; }
		}
		.active a, .active a:hover{
			background-color: darkred;
		}
	}

}
@media only screen and (max-width: 766px) {
	.navbar-inverse .navbar-collapse {
		border-top: 0;
	}
	.navbar-nav {
		margin: 0 -15px;
		border-left: 5px solid darkred;
	}
}














/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
	display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
		http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	* Printing Tables:
	* http://css-discuss.incutio.com/wiki/Printing_Tables
	*/

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/*
* Row with equal height columns
* --------------------------------------------------
*/
@font-face {
	font-family: edge;
	src: url(../fonts/good_times/good_times.ttf);
}


@function is-direction($value) {
	$is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
	$is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

	@return $is-keyword or $is-angle;
}
@mixin linear-gradient($direction, $color-stops...) {
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}

	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}

.navbar-brand {
	font-family: 'edge';
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'edge';
}

body {
	background-color: $maincolor1;
}

span.label-default {
	background-color: $maincolor1;
}

a {
	color: #384452;
	&:hover,
	&:focus {
		color: lighten(#384452,20%);
		outline:none;
		text-decoration: none;
	}
}

iframe {
	height: 100vh;
	width: 100%;
	z-index: 5;
}

span.label-default {
	background-color: lighten(#384452, 5%);
}

section {
	min-height: 100vh;
	margin: 0;
	padding: 8px 0 5% 0;
	.container > .row {
		position:relative;
	}

	&.section-half {
		min-height: 50vh;
	}
}

.section-bar {
	background-color:darken($maincolor1, 5%);
	margin-bottom: 2px;
	font-family: 'edge';
	.section-title {
		line-height: 1;
		padding: 8px;
		height:50px;
		width:30%;
		min-width:200px;
		border-right: 5px solid darkred;
		display:inline-block;
		background-color: rgb(220, 0,0);
		.title {
			height: 100%;
			padding-left:10px;
			color: #fff;
			//border-left: 10px solid #fff;
			font-weight:bolder;
			small {
				font-size: .7em;
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.btn-toggle-coggle {
	height: 50px;
}

#landing{
	background: linear-gradient(165deg, red,darkred);
	padding: 0;
	min-height:inherit;
	position:relative;
	box-sizing: border-box;
	>div {
		position:absolute;
		top:40%;
		width:100%;
		left:0%;
		h1 {
			background-color: darken(darkred, 10% );
			padding: 5px 10px;
			display:inline;
			font-size:3em;
			color: #fff;
		}
	}
}

#canvas {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	overflow:hidden;
}
#works {
	padding-top: 70px;

	img{
		width:100%;
		height:100%;
	}
	.work-list{
		padding-bottom:2px;
	}
	.work-header, .work-item {
		padding: 0 1px;
		box-sizing:border-box;
		position: relative;
	}

	.work-header {
		&:hover .overlay{
			background-color: rgba(255,255,255, 0.95);
		//	border-color: red;
		}
		.overlay {
			text-align: center;
			color: lighten(#384452, 5%);
			background-color: rgba(#fff, 0.90);
			border-right: 4px solid darken(#fff, 15%);
		}
	}
	.work-item {
		&:hover .overlay{
			color:red;
			background-color: rgba(255,255,255, 0.95);
			small { color: rgb(230, 0 ,0); }
		}
		.overlay {
			text-align: center;
			color: transparent;
			//background-color: rgba(255,255,255, 0.2);
			i { display: block; padding-top: 15px; font-size: 2.2em; }
		}


	}
}


#simple-background {
	span {
		margin: 2px 4px;
		display: inline-block;
	}
	.row {
		margin-bottom:40px;
	}
}


#coggle-background {
	position:relative;
	.container { position: relative; }
	.section-bar{
		position: absolute;
		top: 0;
		left:0;
		margin-left: 0;
		width:100%;
		z-index: 99;
	}
}

#contact-me {
	padding: 0;
	background-color:darken($maincolor1, 8%);
	color: red;
	min-height: 80vh;
	text-align: center;
	color: darken(gray, 15%);
	p{
		margin:15px 0;
	}
	.details {
		height:80vh;
		padding: 5% 10px 10px 10px;
		//@include linear-gradient(to bottom, darken(red, 5%) 30%, darkred 80%, darken(red, 40%) 100%);
		background-color: $maincolor1;
		text-align: center;
		h3{ font-family: 'Arial'; }
		img { margin: 0 auto; padding-top: -10px; }
		.image-container {
			padding: 0 10%;
			max-height:300px;
			overflow: hidden;
		}
	}
	.info {
		height:80vh;
		font-size: 1.3em;
		padding: 5% 10px 10px 10px;
		line-height:2.2em;
		p {
			padding: 0 10px;
			text-align: justify;
			margin: 0 auto;
			max-width: 550px;
		}

	}
}

footer {
	padding: 60px 0 80px 0;
	background-color: lighten(#384452, 0%);
	color: #fff;
	ul {
		text-decoration: none;
		list-style: none;
		li {
			margin: 15px 0;
		}
	}
	a {

		color: darken(#fff, 15%);
		&:hover {
			color: darken(#fff, 2%);
			text-decoration: none;
		}
		&:focus {
			outline: none;
			text-decoration: none;
		}

	}
}

// old devices
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.fullheight {
		height: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.fullheight {
		height: 1024px;
	}
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 320px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.fullheight {
		height: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.fullheight {
		height: 480px;
	}
}
